/*.fix-margin-nav {
	margin-top: 70px;
}*/

img {
	max-width: 100%;
}

footer {
    padding: 30px 0;
    margin-top: 30px;
}

.text-box-contain {
	background-color: #fff;
	padding: 15px;
	h2 {
		margin-top: 0;

	}
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-top-30 {
	padding-top: 30px;
}
.navbar {
	margin-bottom: 0;
}
.white-text {
	color: #fff;
	a {
		color: #fff;
	}
}
.navbar-right {
	a:hover {
		color: #337ab7;
	}
}
#sidebar {
	background-color: #fff;
	padding-bottom: 20px;
}
.tag-word {
	color: #5bc0de;
}
.date-list-color {
	color: #f0ad4e;
}
.price-list-color {
	color: #5cb85c;
}
.Location-list-color {
	color: #337ab7;
}
.festival-list {
	margin-bottom: 30px;
}
.bx-wrapper .bx-viewport {
	left: 0;
}
.text-align-center {
	text-align: center;
}
.festival-list-box {
	margin-top: 30px;
}
.image-gallery-box {
	img {
		height: 230px;
	}
}