<div class="row">
  <div class="col-xs-12 col-sm-12 sidebar-offcanvas" id="sidebar">
      <h3 class="text-align-center">Search</h3>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <label>Date</label>
          <select
            ng-options="item.Name for item in dateRanges"
            class="form-control"
            ng-model="dateSelect">
          </select>
        </div>
        <div class="col-md-3">
          <label>Type</label>
          <select class="form-control" ng-model="typeSelect">
            <option value="dynamic">Dynamic</option>
            <option value="relax">Relax</option>
            <option value="eating">Eating</option>
            <option value="eating">Traditional</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Price</label>
          <select class="form-control" ng-model="priceSelect">
            <option value="0">Free</option>
            <option value="10000">1 - 10,000 &#8361;</option>
            <option value="50000">10,001 - 50,000 &#8361;</option>
            <option value="max">More Than 50,000 &#8361;</option>

          </select>
        </div>
        <div class="col-md-3">
          <label>Location</label>
          <select class="form-control" ng-model="locationSelect">
            <option value="">ee</option>

          </select>
        </div>
      </div>
      <!-- <h4>Date</h4> -->
      <!-- <div class="radio">
        <label>
          <input ng-model="dateFilter" type="radio" name="DateRadios" id="optionsRadios1" value="">
          Any
        </label>
      </div>
      <div class="radio">
        <label>
          <input ng-model="dateFilter" type="radio" name="DateRadios" id="optionsRadios2" value="option2">
          1 Week
        </label>
      </div>
      <div class="radio">
        <label>
          <input ng-model="dateFilter" type="radio" name="DateRadios" id="optionsRadios2" value="option2">
          1 Month
        </label>
      </div> -->

      
      <!-- <hr>

      <h4>Type</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Dynamic
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Relax
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Eating
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Traditional
        </label>
      </div>
      <hr>
      <h4>Price</h4>
      <div class="radio">
        <label>
          <input type="radio" name="PriceRadios" id="PriceRadios1" value="option1">
          Free
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="PriceRadios" id="PriceRadios2" value="option2">
          1 - 10,000 &#8361;
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="PriceRadios" id="PriceRadios3" value="option2">
          10,001 - 50,000 &#8361;
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="PriceRadios" id="PriceRadios4" value="option2">
          More Than 50,000 &#8361;
        </label>
      </div>
      <hr>

      <h4>Location</h4>
      <div class="radio">
        <label>
          <input type="radio" name="LocationRadios" id="LocationRadios1" value="option1">
          Location 1
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="LocationRadios" id="LocationRadios2" value="option2">
          Location 2
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="LocationRadios" id="LocationRadios3" value="option2">
          Location 3
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="LocationRadios" id="LocationRadios4" value="option2">
          Location 4
        </label>
      </div>
      <hr>
      <button type="button" class="btn btn-warning">Advance Search</button> -->
  <!--     <div class="list-group">
          <a href="#" class="list-group-item active">Link</a>
          <a href="#" class="list-group-item">Link</a>

      </div> -->
  </div>
  <div ng-repeat="festival in festivals | filter:searchText:rangeLength"  class="festival-list-box col-xs-12 col-sm-4">
    <div class="festival-list">
      <div class="image-gallery-box">
        <img src="{{ festival.festival_pictures| firstImage }}" alt="">
      </div>
      <div class="text-box-contain">
          <h2>{{ festival.festival_name }}</h2>
          <p class="tagline-list">Type &emsp; <span class="tag-word">
          <strong>Dynamic, Relax</strong></span></p>
          <p>Date &emsp;
            <span class="date-list-color" ng-init="oneDay = 24*60*60*1000; dateCompare = 99">
              <strong>
                {{ festival.festival_start_date| cmdate:'MM/dd/yyyy' }} - {{festival.festival_end_date| cmdate:'MM/dd/yyyy' }}
              </strong>
            </span>
          </p>

        <!-- <input type="hidden" value="6" ng-model="diffdateCal"> -->

          <p>Price &emsp; <span class="price-list-color"><strong>20,000&#8361;</strong></span></p>
          <p>Location&emsp;<span class="Location-list-color">
            <strong>
              {{festival.festival_address}}
            </strong></span>
          </p>
          <p><a class="btn btn-info" href="#/festivalDetails/{{festival.id}}" role="button">View details »</a></p>

      </div>
    </div>
  </div>
</div>
